@import '../../variables.scss';

.modal-title-font{
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%; 
}
.modal-content-font{
    color: black;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; 
}